html{
    background: rgb(21, 21, 26);
    color: aliceblue;
    font-family: sans-serif;
}
html::-webkit-scrollbar {
    width: 0.25rem;
}
html::-webkit-scrollbar-track {
    background: grey
}
html::-webkit-scrollbar-thumb {
    background: #d8b861
}
body{
    padding: 0;
    margin: 0;
}
.bold{
    font-weight: bold;
}
/* -------------------------POP UP STUFF--------------------- */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(43, 25, 23);
    padding: 2rem;
    padding-top: 0;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(7, 218, 255, 0.5);
    color: white;
    z-index: 9999;
    display: none;
    width: 40%;
}
.popup > p{
    width: 100%;
    margin: 0;
    margin-bottom: 3px;
    word-wrap:break-word;
}
.option{
    font-weight: bold;
    padding-bottom: 10px;
}
.overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.445);
    z-index: 9998;
    display: none;
}
.popup-bar{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.input-row > input{
    width: 40%;
}

.channel-track-div, .search-div{
    height: 300px;
    background-color: rgb(107, 29, 29);
    border-radius: 5px;
    overflow-x: hidden;
}
.search-div{
    height: 100px;
}
.channel-track-div::-webkit-scrollbar {
    width: 0.25rem;
}
.channel-track-div::-webkit-scrollbar-track {
    background: grey
}
.channel-track-div::-webkit-scrollbar-thumb {
    background: #d8b861
}
.channel-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.channel-div > .view{
    margin-left: auto;
    margin-right: 5px;
}
.channel-div:nth-child(even) {
    background-color: rgb(107, 29, 29)
}
  
.channel-div:nth-child(odd){
    background-color: rgb(68, 17, 17)
}
.lookup-div{
    display: flex;
    justify-content: space-between;
}
/* -------------------------MAIN PAGE STUFF--------------------- */
.btn-add-div, .btn-refresh{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: aliceblue;
    color: black;
    height: 20px;
    padding: 5px 10px;
    margin: 0px 0px 0px 30px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.btn-add{
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 50px;
    
}
.info{
    margin-left: auto;
    text-decoration: underline;
    display: flex;
    align-items: center;
}

.top-nav{
    padding: 0 10px;
    display: flex;
    height: 50px;
    align-items: center;
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(34, 34, 85);
}
@media (max-width: 1055px){
    .top-nav{
        font-size: 12px;
    }
}
@media (max-width: 1226px) {
    .popup{
        width: 70%;
    }
    .input-row{
        flex-direction: column;
    }
    .input-row > input{
        width: 80%;
    }
    .btn-add-div > p {
        display: none;
    }
    .btn-refresh > p {
        display: none;
    }
  }
@media(max-width: 585px){
    .top-nav > h1{
        font-size: 10px;
    }
    .info > box-icon{
        display: none;
    }
}
/* MAIN PAGE */
.MainContent{
    padding: 10px 30px;
}
/* VIDEO CARD  */
.upcoming-area, .live-area, .passed-area{
    display: flex;
    flex-wrap: wrap;
}
.video{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    width: 320px;
}
.vid-remain{
    padding: 0;
    margin: 0;
    height: 30px;
}
.vid-title{
    padding: 0;
    margin: 10px 0;
    inline-size: 300px; 
    height: 50px;
    overflow: hidden;
    word-break: break-all;
    width: inherit;
    font-weight: bold;
}
